USE [master]
GO
/****** Object:  Database [AmsaApiDb]    Script Date: 10/9/2025 12:34:58 AM ******/
CREATE DATABASE [AmsaApiDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AmsaApiDb', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AmsaApiDb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AmsaApiDb_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AmsaApiDb.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AmsaApiDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AmsaApiDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/9/2025 12:34:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 10/9/2025 12:34:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LevelDepartments]    Script Date: 10/9/2025 12:34:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LevelDepartments](
	[LevelDepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[LevelId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LevelDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Levels]    Script Date: 10/9/2025 12:34:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Levels](
	[LevelId] [int] IDENTITY(1,1) NOT NULL,
	[LevelType] [varchar](50) NOT NULL,
	[NationalId] [int] NULL,
	[StateId] [int] NULL,
	[UnitId] [int] NULL,
 CONSTRAINT [PK_Levels] PRIMARY KEY CLUSTERED 
(
	[LevelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberLevelDepartments]    Script Date: 10/9/2025 12:34:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberLevelDepartments](
	[MemberLevelDepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [int] NOT NULL,
	[LevelDepartmentId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberLevelDepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 10/9/2025 12:34:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](15) NULL,
	[MKANID] [int] NOT NULL,
	[UnitId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[National]    Script Date: 10/9/2025 12:34:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[National](
	[NationalId] [int] IDENTITY(1,1) NOT NULL,
	[NationalName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NationalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 10/9/2025 12:34:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[StateId] [int] IDENTITY(1,1) NOT NULL,
	[StateName] [nvarchar](100) NOT NULL,
	[NationalId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 10/9/2025 12:34:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](100) NOT NULL,
	[StateId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250817184852_InitialCreate', N'9.0.8')
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (22, N'Assistant Finance')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (17, N'Assistant General')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (25, N'Assistant Health')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[LevelDepartments] ON 

INSERT [dbo].[LevelDepartments] ([LevelDepartmentId], [LevelId], [DepartmentId]) VALUES (1, 1, 1)
INSERT [dbo].[LevelDepartments] ([LevelDepartmentId], [LevelId], [DepartmentId]) VALUES (2, 1, 2)
INSERT [dbo].[LevelDepartments] ([LevelDepartmentId], [LevelId], [DepartmentId]) VALUES (3, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[LevelDepartments] OFF
GO
SET IDENTITY_INSERT [dbo].[Levels] ON 

INSERT [dbo].[Levels] ([LevelId], [LevelType], [NationalId], [StateId], [UnitId]) VALUES (1, N'National', 1, NULL, NULL)
INSERT [dbo].[Levels] ([LevelId], [LevelType], [NationalId], [StateId], [UnitId]) VALUES (5, N'State', NULL, 1, NULL)
INSERT [dbo].[Levels] ([LevelId], [LevelType], [NationalId], [StateId], [UnitId]) VALUES (10, N'State', NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[Levels] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberLevelDepartments] ON 

INSERT [dbo].[MemberLevelDepartments] ([MemberLevelDepartmentId], [MemberId], [LevelDepartmentId]) VALUES (1, 1, 10)
INSERT [dbo].[MemberLevelDepartments] ([MemberLevelDepartmentId], [MemberId], [LevelDepartmentId]) VALUES (2, 2, 1299)
INSERT [dbo].[MemberLevelDepartments] ([MemberLevelDepartmentId], [MemberId], [LevelDepartmentId]) VALUES (3, 3, 1302)
SET IDENTITY_INSERT [dbo].[MemberLevelDepartments] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberId], [FirstName], [LastName], [Email], [Phone], [MKANID], [UnitId]) VALUES (1, N'Abdulqudus', N'Sulaiman', N'abdulqudus.sulaiman@example.com', N'+2347010000031', 1031, 25)
INSERT [dbo].[Members] ([MemberId], [FirstName], [LastName], [Email], [Phone], [MKANID], [UnitId]) VALUES (2, N'Abdul-Khabeer', N'Arowosere', N'abdul-khabeer.arowosere@example.com', N'+2347010000032', 1032, 40)
INSERT [dbo].[Members] ([MemberId], [FirstName], [LastName], [Email], [Phone], [MKANID], [UnitId]) VALUES (3, N'Sheriffdeen', N'Saula', N'sheriffdeen.saula@example.com', N'+2347010000033', 1033, 9)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[National] ON 

INSERT [dbo].[National] ([NationalId], [NationalName]) VALUES (1, N'Amsa Nigeria')
SET IDENTITY_INSERT [dbo].[National] OFF
GO
SET IDENTITY_INSERT [dbo].[States] ON 

INSERT [dbo].[States] ([StateId], [StateName], [NationalId]) VALUES (1, N'Lagos State', 1)
INSERT [dbo].[States] ([StateId], [StateName], [NationalId]) VALUES (2, N'Oyo State', 1)
INSERT [dbo].[States] ([StateId], [StateName], [NationalId]) VALUES (3, N'Ogun State', 1)
SET IDENTITY_INSERT [dbo].[States] OFF
GO
SET IDENTITY_INSERT [dbo].[Units] ON 

INSERT [dbo].[Units] ([UnitId], [UnitName], [StateId]) VALUES (1, N'LASU', 1)
INSERT [dbo].[Units] ([UnitId], [UnitName], [StateId]) VALUES (2, N'UNILAG', 1)
INSERT [dbo].[Units] ([UnitId], [UnitName], [StateId]) VALUES (3, N'YABATECH', 1)
SET IDENTITY_INSERT [dbo].[Units] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__D949CC34646C8B5B]    Script Date: 10/9/2025 12:34:59 AM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Levels_LevelType_Id]    Script Date: 10/9/2025 12:34:59 AM ******/
ALTER TABLE [dbo].[Levels] ADD  CONSTRAINT [UQ_Levels_LevelType_Id] UNIQUE NONCLUSTERED 
(
	[LevelType] ASC,
	[NationalId] ASC,
	[StateId] ASC,
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tmp_ms_x__5C7E359E3AD99E1D]    Script Date: 10/9/2025 12:34:59 AM ******/
ALTER TABLE [dbo].[Members] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__tmp_ms_x__706BAAA967D044CC]    Script Date: 10/9/2025 12:34:59 AM ******/
ALTER TABLE [dbo].[Members] ADD UNIQUE NONCLUSTERED 
(
	[MKANID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tmp_ms_x__A9D10534C9D85A05]    Script Date: 10/9/2025 12:34:59 AM ******/
ALTER TABLE [dbo].[Members] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__National__1D8A5E87EDFF4DF5]    Script Date: 10/9/2025 12:34:59 AM ******/
ALTER TABLE [dbo].[National] ADD UNIQUE NONCLUSTERED 
(
	[NationalName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__States__554763159073B91B]    Script Date: 10/9/2025 12:34:59 AM ******/
ALTER TABLE [dbo].[States] ADD UNIQUE NONCLUSTERED 
(
	[StateName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LevelDepartments]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[LevelDepartments]  WITH CHECK ADD  CONSTRAINT [FK_LevelDepartments_Levels] FOREIGN KEY([LevelId])
REFERENCES [dbo].[Levels] ([LevelId])
GO
ALTER TABLE [dbo].[LevelDepartments] CHECK CONSTRAINT [FK_LevelDepartments_Levels]
GO
ALTER TABLE [dbo].[Levels]  WITH CHECK ADD  CONSTRAINT [FK_Levels_National] FOREIGN KEY([NationalId])
REFERENCES [dbo].[National] ([NationalId])
GO
ALTER TABLE [dbo].[Levels] CHECK CONSTRAINT [FK_Levels_National]
GO
ALTER TABLE [dbo].[Levels]  WITH CHECK ADD  CONSTRAINT [FK_Levels_States] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[Levels] CHECK CONSTRAINT [FK_Levels_States]
GO
ALTER TABLE [dbo].[Levels]  WITH CHECK ADD  CONSTRAINT [FK_Levels_Units] FOREIGN KEY([UnitId])
REFERENCES [dbo].[Units] ([UnitId])
GO
ALTER TABLE [dbo].[Levels] CHECK CONSTRAINT [FK_Levels_Units]
GO
ALTER TABLE [dbo].[MemberLevelDepartments]  WITH CHECK ADD FOREIGN KEY([LevelDepartmentId])
REFERENCES [dbo].[LevelDepartments] ([LevelDepartmentId])
GO
ALTER TABLE [dbo].[MemberLevelDepartments]  WITH CHECK ADD FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([MemberId])
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD FOREIGN KEY([UnitId])
REFERENCES [dbo].[Units] ([UnitId])
GO
ALTER TABLE [dbo].[States]  WITH CHECK ADD FOREIGN KEY([NationalId])
REFERENCES [dbo].[National] ([NationalId])
GO
ALTER TABLE [dbo].[Units]  WITH NOCHECK ADD FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([StateId])
GO
ALTER TABLE [dbo].[Levels]  WITH CHECK ADD  CONSTRAINT [CK_Levels_ValidCombination] CHECK  (([LevelType]='National' AND [NationalId] IS NOT NULL AND [StateId] IS NULL AND [UnitId] IS NULL OR [LevelType]='State' AND [NationalId] IS NULL AND [StateId] IS NOT NULL AND [UnitId] IS NULL OR [LevelType]='Unit' AND [NationalId] IS NULL AND [StateId] IS NULL AND [UnitId] IS NOT NULL))
GO
ALTER TABLE [dbo].[Levels] CHECK CONSTRAINT [CK_Levels_ValidCombination]
GO
USE [master]
GO
